<div class="col-md-8 blog-main">

  <nav class="breadcrumb bg-actions">
    <%= link_to "Topics", topics_path, class: 'breadcrumb-item text-info' %>
    <span class="breadcrumb-item active"><%= @topic.title %></span>
  </nav>
  
  <%= paginate @blogs %>

  <%= render @blogs %>  

  <%= paginate @blogs %>

</div>